@{
  Layout = "_Layout";
}

@model DrSneuss.Models.Engineer;

<h2>Engineer Details:</h2>
<hr />
<h3>Engineer Name: @Html.DisplayFor(model => model.EngineerName)</h3>

@if (Model.Machines.Count == 0)
{
  <p>I've looked, I've checked; there are no machines to inspect!</p>
}
else
{
  <ul>
    @foreach(var join in Model.Machines)
    {
      <li>@join.Machine.MachineName</li>
      @using (Html.BeginForm("DeleteMachine", "Engineers"))
      {
        @Html.Hidden("joinId", @join.MachineEngineerId)
        <input type="submit" value="Delete"/>
      }
    }
  </ul>
}
<br>

<p>@Html.ActionLink("Add a Machine", "AddMachine", new { id = Model.EngineerId })</p>
<p>@Html.ActionLink("Edit Engineer", "Edit", new { id = Model.EngineerId })</p>
<p>@Html.ActionLink("Delete Engineer", "Delete", new { id = Model.EngineerId })</p> 
<p>@Html.ActionLink("Back to Engineer List", "Index")</p>